{{ ansible_managed | comment }} 

quarkus.log.file.rotation.max-file-size={{ keycloak_log_max_file_size }}
quarkus.log.file.rotation.max-backup-index={{ keycloak_log_max_backup_index }}
quarkus.log.file.rotation.file-suffix={{ keycloak_log_file_suffix }}
{% if keycloak_db_enabled %}
quarkus.transaction-manager.enable-recovery=true
{% endif %}
